{% extends '../base.html' %}
{% block content %}
<div class="container">
<div class="row">
    <div class="col">
        <h4>Add new Course</h4>
        <form method="POST">
            {% csrf_token %}
            {{cform.as_p}}
            <input type="submit">
        </form>
    </div>
    <div class="col">
        <h4>Add new week</h4>
        <form method="POST" >
            {% csrf_token %}
            {{wform.as_p}}
            <input type="submit">
        </form>
    </div>
    <div class="col">
        <h4>Add new Material</h4>
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {{fform.as_p}}
            <input type="submit">
        </form>
    </div>
  </div>
</div>



{% endblock %}