{% extends '../base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
<div class="row">
    <div class="col">
        <h4>Add new Course</h4>
        <form method="POST">
            {% csrf_token %}
            {{cform|crispy}}
            <br>
            <input type="submit" class="btn btn-outline-success">
        </form>
    </div>
    <div class="col">
        <h4>Add new week</h4>
        <form method="POST" >
            {% csrf_token %}
            {{wform|crispy}}
            <br>
            <input type="submit" class="btn btn-outline-success">
        </form>
    </div>
    <div class="col">
        <h4>Add new Material</h4>
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {{fform|crispy}}
            <br>
            <input type="submit" class="btn btn-outline-success">
        </form>
    </div>
  </div>
</div>



{% endblock %}