{% extends '../base.html'%}
{% load tags%}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4">{{course.name}}</h1>
    <p class="lead">{{course.description}}</p>
    <hr class="my-4">
    <p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Category: {{course.category}}</li>

            <li class="list-group-item">Uploaded By: {{course.uploaded_by.user.first_name}} {{course.uploaded_by.user.last_name}}</li>
            
          </ul>
    </p>
    {% if request.user.user_type is 1 %}
    <p class="lead">
      <form method="POST" id="subscribe">
        {% csrf_token %}
        <input type="hidden" name="course_id" value="{{course.id}}">
      </form>
      {% check_subscription course request.user as subscription %}{% if subscription %} <button type="submit" class="btn btn-outline-success btn-light" form="subscribe" value="Submit" onsubmit="return confirm('Do you really want to unsubscribe?');"> Unsubscribe </button>{% else %}  <button type="submit" class="btn btn-outline-success btn-light" form="subscribe" value="Submit"> Subscribe </button>{% endif %}</button>
    </p>
    {% endif %}
  </div>

  

{% endblock %}