{% extends '../base.html'%}
{% load tags%}
{% load static %}
{% block content %}

<div class="jumbotron container">
  
  <div class="modal" tabindex="-1" role="dialog"id="myModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Paypal</h5>
          
        </div>
        <div class="modal-body">
          <img class="ml-200" style="height: 20%; width: 20%;" src="{% static 'images/paypal.jpg' %}"><br>
          <hr><br>
          Course Name: {{course.name}}<br>
          Price: {{course.price}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" onclick="sub()">Pay</button>
        </div>
      </div>
    </div>
  </div>

    <h1 class="display-4">{{course.name}}</h1>
    <p class="lead">{{course.description}}</p>
    <hr class="my-4">
    <p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Category: {{course.category}}</li>

            <li class="list-group-item">Uploaded By: <a style="text-decoration: none;" href="{% url 'view_teacher' course.uploaded_by.user.username %}">{{course.uploaded_by.user.first_name}} {{course.uploaded_by.user.last_name}}</a></li>
            <li class="list-group-item">Price: {{course.price}}</li>
          </ul>
          <hr>
    </p>
    {% if request.user.user_type is 1 %}
    
      {% check_subscription course request.user as subscription %}
      <button class="btn btn-outline-success" onclick="payment_confirm('{% if subscription %}unsubscribe{%else%}subscribe{%endif%}')">{% if subscription %}Unsubscribe{%else%}Subscribe{%endif%}</button>
    
    {% endif %}
  </div>
  <script>
    function payment_confirm(val){
      price = parseFloat("{{course.price}}")
      id = "{{course.id}}"
      if(val=="subscribe" && price!=parseFloat(0.0)){
        $("#myModal").modal('show');

      }
      else if(val=="unsubscribe" || price==parseFloat(0.0)){
        c = confirm(`Are you sure you want to ${val}?`)
        if(c){
          sub()
        }
      }
    }
    function sub(){
      console.log("ajax");
      var id="{{course.id}}"
      var url =  "{% url 'subscribe' %}"
      $.ajax({
            url: url,
            cache: false,
            method: 'POST',
            data: {
                csrfmiddlewaretoken: window.CSRF_TOKEN,
                course_id: id,
            },
            success: function (res) {
                location.reload()
                
            }
        });
    }
  </script>

  

{% endblock %}