{% extends '../base.html'%}
{% load static %}
{% load tags%}

{% block content %}
<div class="mt-5 container">
  <div class="main-body">

    <!-- Breadcrumb -->

    <!-- /Breadcrumb -->

    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              {% if request.user.student.photo %}
              <img src="{{request.user.student.photo.url}}" class="rounded-circle" width="150">
              {% else %}
              <img src="{% static '/images/avatar.png' %}" class="rounded-circle" width="150">
              {% endif %}
              <div class="mt-3">
                <h4>{{request.user}}</h4>
                {% if request.user.student.bio%}<p class="text-secondary mb-1">{{request.user.student.bio}}</p>{% endif %}



              </div>
            </div>
          </div>
        </div>
        <div class="card mt-3">
          <p class="text-center"><strong>Available meetings</strong></p>
          {% if pending_meetings %}
          <ul class="list-group list-group-flush">
            {% for m in pending_meetings %}

            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0">{% if m.link %}<a href="{{m.link}}" target="_blank"  >{{m.week}}</a>{%else%}{{m.week}}{% endif %}</h6>
              <span class="text-secondary">{{m.meeting_on}}</span>
            </li>




            {% endfor %}
          </ul>
          {% else %}
          <p>No pending meetings</p>
          {% endif %}
        </div>
      </div>
      <div class="col-md-8">
        {% if profile_edit_form %}

        <div class="card mb-3">
          <div class="card-body">
            <form method="POST" action="{% url 'dashboard'%}" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Photo</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{profile_edit_form.photo}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">First Name</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{user_edit_form.first_name}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Last Name</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{user_edit_form.last_name}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Email</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{user_edit_form.email}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Bio</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{profile_edit_form.bio}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Address</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{profile_edit_form.address}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Phone</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{profile_edit_form.phone}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-12">

                  <input type="submit" class="btn btn-outline-primary">

                </div>
              </div>
            </form>
          </div>
        </div>

        {% else %}

        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Full Name</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{request.user.first_name}} {{request.user.last_name}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Email</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{request.user.email}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Phone</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{student.phone}}
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Address</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{student.address}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-12">
                <form method="GET" action="{% url 'dashboard'%}">
                  <input type="hidden" name="edit" value="true">
                  <button type="submit" class="btn btn-outline-secondary">Edit</button>
                </form>
              </div>
            </div>
          </div>






        </div>


        <div class="card mb-3">
          <div class="card-body">
            <h6 class="d-flex align-items-center mb-3">My Subscriptions</h6>
            {% if subscriptions %}
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Course</th>
                  <th>Current Week</th>
                  <th>Next Week</th>
                  <th>Progress</th>
                </tr>
              </thead>
              {% for sub in subscriptions %}
              {% if not sub.completed %}
              <tr>

                <td><a href="{% url 'study' sub.course.id %}">{{sub.course}}</a></td>
                <td>{{sub.progress.title}}</td>
                <td>{{sub.next_unit.title}}</td>
                <td>{{sub|get_percentage}}</td>
              </tr>
              {% endif %}
              {% endfor %}
            </table>
            {% else %}<p>You havent subscribed in any course.</p>{% endif %}
            <br>
            <h6 class="d-flex align-items-center mb-3">Completed Courses</h6>
            {% if completed %}
            {% for sub in completed %}

            <a href="{% url 'study' sub.course.id %}">{{sub.course}}</a>

            {% endfor %}
            <br>
            <a href="{% url 'download_certificate' %}" class="btn btn-outline-primary">Certificate</a>
            {% else %}
            <p>You donot have completed courses.</p>
            <!-- <a href="{% url 'download_certificate' %}" class="btn btn-outline-primary">Certificate</a> -->
            {% endif %}
          </div>
        </div>




        {% endif %}
      </div>






    </div>
  </div>

</div>

{% endblock %}