{% extends '../login.html'%}
{% block content %}
{% load crispy_forms_tags %}



<h3 class="text-center">Student Registration</h3>
<a href="{% url 'teacher_register' %}">Register as teacher</a>
<form method="POST" enctype="multipart/form-data">
  {{errmsg}}
  {% csrf_token %}
  {{uform|crispy}}
  {{sform|crispy}}
  <br>
  <button type="submit" class="btn btn-primary">Submit</button>
  
</form>
<!--<form method="POST" enctype="multipart/form-data">


  {{errmsg}}
  {% csrf_token %}
  <div class="form-group">
    <label>Username</label>
    {{uform.username}}
  </div>
  <div class="form-group">
    <label>First Name</label>
    {{uform.first_name}}
  </div>
  <div class="form-group">
    <label>Last Name</label>
    {{uform.last_name}}
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    {{uform.password}}
  </div><br>

  <div class="form-group">
    <label for="exampleInputPassword1">Confirm Password</label>
    {{uform.confirm_password}}
  </div><br>
  
    <div class="form-group">
      <label for="exampleInputPassword1">Photo</label>
      {{sform.photo}}
    </div><br>
    <div class="form-group">
      <label for="exampleInputPassword1">Address</label>
      {{sform.address}}
    </div><br>
    <div class="form-group">
      <label for="exampleInputPassword1">Phone</label>
      {{sform.phone}}
    </div><br>
  
  <button type="submit" class="btn btn-primary">Submit</button>

</form>-->
<p>Already have an account? Login <a href="{% url 'login' %}">here</a></p>



{% endblock %}