{%load static%}

<html lang="en">
<!-- login page -->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>{{week.course}}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
    <div class="container">
    {% block content %}
    <h1>{{week.course}}</h1>
    <br>
    <h3>{{week.title}}</h3>
    {% if week.instructions %}<h3>Instructions</h3>
    <p>{{week.instructions}}</p><br>{% endif %}
    <p>{{ week.description }}</p>
    
    <h5>Materials</h5>
    {% if files %}
    <ul class="list-group list-group-flush">
        {% for f in files %}
            <li  class="list-group-item"><a href="{{f.file.url}}">{{f.file}}</a> <a href="{{f.file.url}}" download><button class="btn btn-outline-info" style="float: right;">Download</button></a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Tutor hasn't posted any files.</p>
    {% endif %}
    {% if subscription.quiz_approve %}
        <a href="{% url 'take_quiz' week.id %}"><button class="btn btn-outline-primary">Take Quiz</button></a>
    {% else %}
        <button class="btn btn-outline-primary" disabled>Take Quiz</button>
        <p>Talk to tutor to get access to quiz.</p>
    {% endif %}
    {% endblock %}
    </div>
</body>
</html>