{% extends './base.html'%}
{% load tags %}
{% block content %}


<h3 class="text-center">Browse courses</h3>

<div class="container mx-10">
<table id="example" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Categories</th>
            <th>Affiliated To</th>
        </tr>
    </thead>
    <tbody>
        {% for course in courses %}
        
        <tr>
            <td><a class="text-decoration-none" href="{% url 'course_details' course.code %}">{{course.name}}</a></td>
            <td>{{course.get_category_display}}</td>
            <td>{{course.affiliated_to}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<script>
    $(document).ready(function() {
    $('#example').DataTable();
} );
</script>

{% endblock %}