{% extends './base.html'%}
{% load static %}
{% block content %}
<style>
    .fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}
</style>
<section id="about" class="about-area pt-115">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="about-title text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                    <h6 class="welcome">WELCOME</h6>
                    <h3 class="title"><span>Our 1 year working experience to </span> take care of your career
                        goal.</h3>
                </div>
            </div>
        </div> <!-- row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="about-image mt-60 wow fadeIn fill" data-wow-duration="1s" data-wow-delay="0.5s">
                    <img src="{% static 'images/online-education-blog.jpg'%}" alt="about">
                </div> <!-- about image -->
            </div>
        </div> <!-- row -->
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="about-content pt-45">
                    <p class="text wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">Duis et metus et massa
                        tempus lacinia. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
                        inceptos himenaeos. Maecenas ultricies, orci molestie blandit interdum. ipsum ante
                        pellentesque nisl, eget mollis turpis quam nec eros. ultricies, orci molestie blandit
                        interdum.</p>

                    <div class="about-counter pt-60">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="single-counter counter-color-1 mt-30 d-flex wow fadeInUp"
                                    data-wow-duration="1s" data-wow-delay="0.3s">
                                    <div class="counter-shape">
                                        <span class="shape-1"></span>
                                        <span class="shape-2"></span>
                                    </div>
                                    <div class="counter-content media-body">
                                        <span class="counter-count"><span class="counter">{{students}}</span></span>
                                        <p class="text">Students</p>
                                    </div>
                                </div> <!-- single counter -->
                            </div>
                            <div class="col-sm-4">
                                <div class="single-counter counter-color-2 mt-30 d-flex wow fadeInUp"
                                    data-wow-duration="1s" data-wow-delay="0.6s">
                                    <div class="counter-shape">
                                        <span class="shape-1"></span>
                                        <span class="shape-2"></span>
                                    </div>
                                    <div class="counter-content media-body">
                                        <span class="counter-count"><span class="counter">{{teachers}}
                                        <p class="text">Teachers</p>
                                    </div>
                                </div> <!-- single counter -->
                            </div>
                            <div class="col-sm-4">
                                <div class="single-counter counter-color-3 mt-30 d-flex wow fadeInUp"
                                    data-wow-duration="1s" data-wow-delay="0.9s">
                                    <div class="counter-shape">
                                        <span class="shape-1"></span>
                                        <span class="shape-2"></span>
                                    </div>
                                    <div class="counter-content media-body">
                                        <span class="counter-count"><span class="counter">{{courses}}</span></span>
                                        <p class="text">Courses</p>
                                    </div>
                                </div> <!-- single counter -->
                            </div>
                        </div> <!-- row -->
                    </div> <!-- about counter -->
                </div> <!-- about content -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>



<section id="services" class="our-services-area pt-115">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-8 col-sm-9">
                <div class="section-title text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <h6 class="sub-title">Our services</h6>
                    <h4 class="title">Bunch of Services <span>to Rock Your Education</span></h4>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="our-services-tab pt-30">
                    <ul class="nav justify-content-center wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s" id="myTab" role="tablist" style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeIn;">
                        <li class="nav-item">
                            <a class="active" id="business-tab" data-toggle="tab" href="#" role="tab" aria-controls="business" aria-selected="true">
                                <i class="lni-briefcase"></i> <span>Certificate </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="digital-tab" data-toggle="tab" href="#" role="tab" aria-controls="digital" aria-selected="false">
                                <i class="lni-bullhorn"></i> <span>Quiz</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a id="market-tab" data-toggle="tab" href="#" role="tab" aria-controls="market" aria-selected="false">
                                <i class="lni-stats-up"></i> Progress</span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="business" role="tabpanel" aria-labelledby="business-tab">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="our-services-image mt-50">
                                        <img src="{%static 'images/personal-growth.jpeg'%}" alt="service">
                                    </div> <!-- our services image -->
                                </div>
                                <div class="col-lg-6">
                                    <div class="our-services-content mt-45">
                                        <h3 class="services-title">Learning Zone <span>for Your Personal Growth.</span></h3>
                                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec est arcu. Maecenas semper tortor.  <br>  <br> In elementum in risus sed commodo. Phasellus nisi ligula, luctus at tempor vitae, placerat at ante. Cras sed consequat justo. Curabitur laoreet eu est vel convallis. </p>
                                        
                                        <div class="our-services-progress d-flex align-items-center mt-55">
                                            <div class="circle" id="circles-1"><div class="circles-wrp" style="position: relative; display: inline-block;"><svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><path fill="transparent" stroke="#f0f0f0" stroke-width="3" d="M 49.990121849620785 1.5000010059572801 A 48.5 48.5 0 1 1 49.932634473003525 1.5000467847053187 Z" class="circles-maxValueStroke"></path><path fill="transparent" stroke="#f14836" stroke-width="3" d="M 49.990121849620785 1.5000010059572801 A 48.5 48.5 0 1 1 34.95596498733131 3.892223968861842 " class="circles-valueStroke"></path></svg><div class="circles-text" style="position: absolute; top: 0px; left: 0px; text-align: center; width: 100%; font-size: 35px; height: 100px; line-height: 100px;">99%</div></div></div>
                                            <div class="progress-content">
                                                <h4 class="progress-title">Satisfied<br> Students.</h4>
                                            </div>
                                        </div>
                                    </div> <!-- our services content -->
                                </div>
                            </div> <!-- row -->
                        </div>
                        
                        <div class="tab-pane fade" id="digital" role="tabpanel" aria-labelledby="digital-tab">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="our-services-image mt-50">
                                        <img src="{%static 'images/our-service-1.jpg'%}" alt="service">
                                    </div> <!-- our services image -->
                                </div>
                                <div class="col-lg-6">
                                    <div class="our-services-content mt-45">
                                        <h3 class="services-title">Learning Zone  <span>for Your Personal Growth.</span></h3>
                                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec est arcu. Maecenas semper tortor.  <br>  <br> In elementum in risus sed commodo. Phasellus nisi ligula, luctus at tempor vitae, placerat at ante. Cras sed consequat justo. Curabitur laoreet eu est vel convallis. </p>
                                        
                                        <div class="our-services-progress d-flex align-items-center mt-55">
                                            <div class="circle" id="circles-2"><div class="circles-wrp" style="position: relative; display: inline-block;"><svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><path fill="transparent" stroke="#f0f0f0" stroke-width="3" d="M 49.990121849620785 1.5000010059572801 A 48.5 48.5 0 1 1 49.932634473003525 1.5000467847053187 Z" class="circles-maxValueStroke"></path><path fill="transparent" stroke="#f14836" stroke-width="3" d="M 49.990121849620785 1.5000010059572801 A 48.5 48.5 0 1 1 10.736716401073288 21.528179527289577 " class="circles-valueStroke"></path></svg><div class="circles-text" style="position: absolute; top: 0px; left: 0px; text-align: center; width: 100%; font-size: 35px; height: 100px; line-height: 100px;">85%</div></div></div>
                                            <div class="progress-content">
                                                <h4 class="progress-title">Digital Marketing <br> Skill.</h4>
                                            </div>
                                        </div>
                                    </div> <!-- our services content -->
                                </div>
                            </div> <!-- row -->
                        </div>
                        
                        <div class="tab-pane fade" id="market" role="tabpanel" aria-labelledby="market-tab">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="our-services-image mt-50">
                                        <img src="{%static 'images/our-service-1.jpg'%}" alt="service">
                                    </div> <!-- our services image -->
                                </div>
                                <div class="col-lg-6">
                                    <div class="our-services-content mt-45">
                                        <h3 class="services-title">Market Analysis  <span>for Your Business Growth.</span></h3>
                                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec est arcu. Maecenas semper tortor.  <br>  <br> In elementum in risus sed commodo. Phasellus nisi ligula, luctus at tempor vitae, placerat at ante. Cras sed consequat justo. Curabitur laoreet eu est vel convallis. </p>
                                        
                                        <div class="our-services-progress d-flex align-items-center mt-55">
                                            <div class="circle" id="circles-3"><div class="circles-wrp" style="position: relative; display: inline-block;"><svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><path fill="transparent" stroke="#f0f0f0" stroke-width="3" d="M 49.990121849620785 1.5000010059572801 A 48.5 48.5 0 1 1 49.932634473003525 1.5000467847053187 Z" class="circles-maxValueStroke"></path><path fill="transparent" stroke="#f14836" stroke-width="3" d="M 49.990121849620785 1.5000010059572801 A 48.5 48.5 0 1 1 1.5000085175279807 50.02874369742232 " class="circles-valueStroke"></path></svg><div class="circles-text" style="position: absolute; top: 0px; left: 0px; text-align: center; width: 100%; font-size: 35px; height: 100px; line-height: 100px;">75%</div></div></div>
                                            <div class="progress-content">
                                                <h4 class="progress-title">Market Analysis <br> Agency Skill.</h4>
                                            </div>
                                        </div>
                                    </div> <!-- our services content -->
                                </div>
                            </div> <!-- row -->
                        </div>
                    </div> <!-- tab content -->
                </div> <!-- our services tab -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>


<section id="service" class="service-area pt-105">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-8">
                <div class="section-title wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <h6 class="sub-title">Why Us</h6>
                    <h4 class="title">The reasons to choose us <span>as your Educational Platform</span></h4>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="service-wrapper mt-60 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.6s; animation-name: fadeInUp;">
            <div class="row no-gutters justify-content-center">
                <div class="col-lg-4 col-md-7">
                    <div class="single-service d-flex">
                        <div class="service-icon">
                            <img src="{%static 'images/service-1.png'%}" alt="Icon">
                        </div>
                        <div class="service-content media-body">
                            <h4 class="service-title">Highly Experienced</h4>
                            <p class="text">Lorem Ipsum is simply dummy tex of the printing and typesetting industry. Lorem Ipsum .</p>
                        </div>
                        <div class="shape shape-1">
                            <img src="{%static 'images/shape/shape-1.svg'%}" alt="shape">
                        </div>
                        <div class="shape shape-2">
                            <img src="{%static 'images/shape/shape-2.svg'%}" alt="shape">
                        </div>
                    </div> <!-- single service -->
                </div>
                <div class="col-lg-4 col-md-7">
                    <div class="single-service service-border d-flex">
                        <div class="service-icon">
                            <img src="{%static 'images/service-2.png'%}" alt="Icon">
                        </div>
                        <div class="service-content media-body">
                            <h4 class="service-title">Bunch of Services</h4>
                            <p class="text">Lorem Ipsum is simply dummy tex of the printing and typesetting industry. Lorem Ipsum .</p>
                        </div>
                        <div class="shape shape-3">
                            <img src="{%static 'images/shape/shape-3.svg'%}" alt="shape">
                        </div>
                    </div> <!-- single service -->
                </div>
                <div class="col-lg-4 col-md-7">
                    <div class="single-service d-flex">
                        <div class="service-icon">
                            <img src="{%static 'images/service-3.png'%}" alt="Icon">
                        </div>
                        <div class="service-content media-body">
                            <h4 class="service-title">Quality Support</h4>
                            <p class="text">Lorem Ipsum is simply dummy tex of the printing and typesetting industry. Lorem Ipsum .</p>
                        </div>
                        <div class="shape shape-4">
                            <img src="{%static 'images/shape/shape-4.svg'%}" alt="shape">
                        </div>
                        <div class="shape shape-5">
                            <img src="{%static 'images/shape/shape-5.svg'%}" alt="shape">
                        </div>
                    </div> <!-- single service -->
                </div>
            </div> <!-- row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="service-btn text-center pt-25 pb-15">
                        <a class="main-btn main-btn-2" href="#">All Services</a>
                    </div> <!-- service btn -->
                </div>
            </div> <!-- row -->
        </div> <!-- service wrapper -->
    </div> <!-- container -->
</section>

<div class="container contact-wrapper-form pt-115  wow fadeInUpBig" data-wow-duration="1s" data-wow-delay="0.5s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInUpBig;">
    <h4 class="contact-title pb-10"><i class="lni-envelope"></i> Leave <span>A Message.</span></h4>
    
    <form id="contact-form" method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="contact-form mt-45">
                    <label>Enter Your Name</label>
                    {{form.full_name}}
                </div> <!-- contact-form -->
            </div>
            <div class="col-md-6">
                <div class="contact-form mt-45">
                    <label>Enter Your Email</label>
                    {{form.email}}
                </div> <!-- contact-form -->
            </div>
            <div class="col-md-12">
                <div class="contact-form mt-45">
                    <label>Your Message</label>
                    {{form.message}}
                </div> <!-- contact-form -->
            </div>
            <p class="form-message"></p>
            <div class="col-md-12">
                <div class="contact-form mt-45">
                    <button type="submit" class="main-btn">Send Now</button>
                </div> <!-- contact-form -->
            </div>
        </div> <!-- row -->
    </form>
</div>

<footer id="footer" class="footer-area bg_cover" style="background-image: url('{%static "images/footer-bg.jpg"%}')">
    <div class="container">
        <div class="footer-widget pt-30 pb-70">
            <div class="row">
                <div class="col-lg-3 col-sm-6 order-sm-1 order-lg-1">
                    <div class="footer-about pt-40">
                        <a href="#">
                            <img src="{%static 'icon.png'%}" height="50px" width="50px" alt="Logo">
                        </a>
                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, repudiandae! Totam, nemo sed? Provident.</p> <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus</p>
                    </div> <!-- footer about -->
                </div>
                <div class="col-lg-3 col-sm-6 order-sm-3 order-lg-2">
                    <div class="footer-link pt-40">
                        <div class="footer-title">
                            <h5 class="title">Services</h5>
                        </div>
                        <ul>
                            <li><a href="#">Personal Profile</a></li>
                            <li><a href="#">Learning Materials</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Certificate</a></li>
                        </ul>
                    </div> <!-- footer link -->
                </div>
                <div class="col-lg-3 col-sm-6 order-sm-4 order-lg-3">
                    <div class="footer-link pt-40">
                        <div class="footer-title">
                            <h5 class="title">About Us</h5>
                        </div>
                        <ul>
                            <li><a href="#">Overview</a></li>
                            <li><a href="#">Why us</a></li>
                            <li><a href="#">Awards &amp; Recognitions</a></li>
                            <li><a href="#">Team</a></li>
                        </ul>
                    </div> <!-- footer link -->
                </div>
                <div class="col-lg-3 col-sm-6 order-sm-2 order-lg-4">
                    <div class="footer-contact pt-40">
                        <div class="footer-title">
                            <h5 class="title">Contact Info</h5>
                        </div>
                        <div class="contact pt-10">
                            <p class="text">21 King Street, Melbourne <br>
                                Victoria, 1202 Australia.</p>
                            <p class="text">support@uideck.com</p>
                            <p class="text">+99 000 555 66 22</p>

                            <ul class="social mt-40">
                                <li><a href="#"><i class="lni-facebook"></i></a></li>
                                <li><a href="#"><i class="lni-twitter"></i></a></li>
                                <li><a href="#"><i class="lni-instagram"></i></a></li>
                                <li><a href="#"><i class="lni-linkedin"></i></a></li>
                            </ul>
                        </div> <!-- contact -->
                    </div> <!-- footer contact -->
                </div>
            </div> <!-- row -->
        </div> <!-- footer widget -->
        <div class="footer-copyright text-center">
            <p class="text">© 2022 Crafted by <a href="https://uideck.com" rel="nofollow">UIdeck</a> All Rights Reserved.</p>
        </div>
    </div> <!-- container -->
</footer>
{% endblock %}