{% extends './base.html' %}
{% load static %}
{% block content%}
<h1 class="display-4 text-center">{{subject.name}} {{video}}</h1>
<div class="container" id="video-container">
    <div class="embed-responsive embed-responsive-21by9">
        <iframe class="embed-responsive-item" id="video-frame"></iframe>
    </div>
</div>

<div class="container overflow-hidden">
    <div class="row gy-5">
        {% for week in weeks %}
        {% if forloop.counter0|divisibleby:3 and not forloop.first %}<div class="w-100"></div>{% endif %}
        <a class="text-decoration-none" href="#" role="button" onclick="view_unit('{{week.week_no}}')">
            <div class="col-6 p-3 border bg-light">

                Week {{week.week_no}} {{week.title}}
            </div>
        </a>
        {% endfor %}
    </div>
</div>


<div class="comment">
    <!-- post comment div -->
    {%if user.is_authenticated %}
    <div>
        <input type="text" placeholder="Comment" />
        <button class="comment" value="{{subject.code}}">Post</button>
    </div>
    {%endif%}
    <!-- comment list div -->
    <div>
        {% for comment in subject.faq %}
        <div>

            <!-- span to delete comment available if logged in by owner or commented by owner -->
            {%if comment.from_person == request.user.student%}
            <button class="cmnt-dlt" value="{{comment.id}}">x</button>
            {%endif%}

            <strong> {{comment.from_person}} </strong> :
            {{comment}}
        </div>
        {% endfor %}
    </div>

</div>





<script>
    $('button#delete').click(function () {
        let id = $(this).attr('value')
        console.log("delete pressecd");
        if (confirm("Are you sure?")) {
            $.ajax({
                url: "{% url 'comment' %}",
                method: 'post',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", window.CSRF_TOKEN);
                },
                data: {
                    id: id
                }
            })
        } else {
            console.log("cancelled");
        }
    })

    $('button.comment').click(function () {
        code = $(this).attr('value')
        comment = $(this).prev().val()
        $(this).prev().val('')
        console.log(code);
        $.ajax({
            url: "{% url 'comment' %}",
            cache: false,
            method: 'POST',
            data: {
                csrfmiddlewaretoken: window.CSRF_TOKEN,
                course_code: code,
                comment: comment
            },
            success: function (res) {
                console.log(res)
                var commentDiv = "<br><strong>" + "{{ request.user.username }}" + "</strong></a>  :  " + comment
                console.log(commentDiv);
                $('div.comment').append(commentDiv)
            }
        });
    })
</script>
{% endblock %}